<link rel="import" href="message.html">
<link rel="import" href="../socket-connection.html">

<dom-module id="hb-slider">
  <style>
    :host {
      display: block;
      height: 480px;
      position: relative;
      text-align: center;
    }

    :host .slide-item {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      color: white;
    }

    :host hb-message {
      z-index: 10;
    }
  </style>

  <template>
    <template is="dom-repeat" id="slides" items="{{slides}}">
      <hb-message class="slide-item" message="{{item.message}}">
      </hb-message>
    </template>
    <hb-projects-board class="slide-item" hidden$="{{!isProjectVisible}}"></hb-projects-board>

    <socket-connection endpoint="messages"
                       on-data="onData">
    </socket-connection>
  </template>

  <script>
    Polymer({
      is: 'hb-slider',
      properties: {
        'time-per-slide': String
      },
      onData: function(ev, data) {
        var that = this;
        that.slides = data.messages;
        that.slideIndex = 0;
        that.slideStartTime = new Date();
        that.async(function () {
          that.invalidateSlide();
        });
        setInterval(function() {
          that.async(function () {
            that.slide();
          });
        }, 1000);
      },
      isVisible: function(item) {
        return this.slides.indexOf(item) === this.slideIndex;
      },
      slide: function() {
        var currentTime = new Date();
        var projectsDuration = 1000 * 60;
        var currentSlideDuration = this.isProjectVisible ?
          projectsDuration :
          this.slides[this.slideIndex].duration;

        if ((currentTime - this.slideStartTime) >= currentSlideDuration) {
          this.isProjectVisible = !this.isProjectVisible;
          if (this.isProjectVisible) {
            this.slideIndex = (this.slideIndex + 1) % this.slides.length;
          }
          this.slideStartTime = currentTime;
          this.invalidateSlide(this.isProjectVisible);
        }
      },
      invalidateSlide: function (hideAll) {
        var $slides = Polymer.dom(this.root).querySelectorAll('hb-message');
        var that = this;
        if ($slides.length) {
          $slides.forEach(function (slide, index) {
            slide.hidden = hideAll || (index !== that.slideIndex);
          });
        }
      }
    })
  </script>
</dom-module>
