<link rel="import" href="../socket-connection.html">

<dom-module id="hb-projects-board">
  <style>
    #projects-graph-wrapper, #project-artifacts-wrapper {
      display: block;
    }
    #projects-graph {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      background-color: black;
      height: 240px;
    }
    #projects-graph-legend {
      display: flex;
      flex-grow: 2;
      background:
        url('../../icons/icon-legend-happy.png') center 20px no-repeat,
        url('../../icons/icon-legend-sleep.png') center center no-repeat,
        url('../../icons/icon-legend-unhappy.png') center 180px no-repeat;
      background-color: #565752;
      color: white;
      padding: 2em 0;
    }
    .project {
      display: flex;
      flex: 1;
    }
    #project-artifacts {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      background-color: black;
    }
    .project-artifact {
      padding: 3em 0;
      width: 20%;
      text-align: center;
      height: 260px;
    }
    .project-artifact img {
      margin-bottom: 30px;
      height: 90px;
    }
    .color-1 {
      background-color: #8ee4cd;
    }
    .color-2 {
      background-color: #54dcfd;
    }
    .color-3 {
      background-color: #15c68d;
    }
    .color-4 {
      background-color: #ff615e;
    }
    .color-5 {
      background-color: #ff8f00;
    }
    .color-6 {
      background-color: #ff5a00;
    }
    .color-7 {
      background-color: #c0eb7c;
    }
    .color-8 {
      background-color: #31a3ff;
    }
    .color-9 {
      background-color: #aaa7fb;
    }
    .color-10 {
      background-color: #9a67fb;
    }
    value, description {
      display: block;
      text-align: center;
    }
    value {
      color: #ffffff;
    }
    description {
      color: #113738;
      font-size: 28px;
    }
  </style>

  <template>
    <div id="projects-graph-wrapper">
      <div id="projects-graph">
        <div id="projects-graph-legend"></div>
        <template is="dom-repeat" id="projects" items="{{projects}}" as="project">
          <div class$="{{ project.class }}">
            <div class="shortname">{{ project.projectshortname }}</div>
            <template is="dom-if" if="{{ project.active }}">{{ project.projectname }}</template>
          </div>
        </template>
      </div>
    </div>
    <div id="project-artifacts-wrapper">
      <div id="project-artifacts">
        <template is="dom-repeat" id="projectArtifact" items="{{projectArtifacts}}" as="artifact">
            <div class$="{{ color }}">
              <img src$="{{ artifact.icon }}" />
              <description>{{artifact.name}}</description>
            </div>
        </template>
      </div>
    </div>
    <socket-connection endpoint="projects"
                       on-data="onData">
  </template>

  <script>
    (function () {
      var valueIconsMap = {
        '-1': './icons/icon-emo-unhappy.png',
        '0': './icons/icon-emo-sleep.png',
        '1': './icons/icon-emo-happy.png',
        '': './icons/icon-cancel.png'
      };

      var colors = [
        '#8ee4cd', '#54dcfd', '#15c68d', '#ff615e',
        '#ff8f00', '#ff5a00', '#c0eb7c', '#31a3ff', '#aaa7fb', '#9a67fb'
      ];

      function getColor(idx) {
        return (idx % colors.length + 1);
      }

      function getProjectInfo(project) {
        return [{
              name: 'Team Spirit',
              icon: valueIconsMap[project.teamspirit]
            }, {
              name: 'Client Mood',
              icon: valueIconsMap[project.clientmood]
            }, {
              name: 'Scrum daily',
              icon: valueIconsMap[project.scrumdaily]
            }, {
              name: 'Scrum planning',
              icon: valueIconsMap[project.scrumplanning]
            }, {
              name: 'Scrum retro',
              icon: valueIconsMap[project.scrumretro]
            }
          ];
      };

      function projectEvaluation() {
        var projectsum = 0;
        var nonEmptyArguments = 0;
        var result = 0;
        for(var i = 0, j = arguments.length; i < j; i++) {
          if(arguments[i] !== '') {
            projectsum += parseInt(arguments[i], 10);
            nonEmptyArguments++;
          }
        }
        if (projectsum === 0 && nonEmptyArguments === 0) {
          result = 0;
        } else {
          if (projectsum/nonEmptyArguments > 0) {
            result = 1;
          } else if (projectsum/nonEmptyArguments < 0) {
            result = -1;
          } else {
            result = 0;
          }
        }
        return result;
      };

      function getProjects(projectsList) {
        return projectsList.map(function (el, idx) {
          var evaluation = projectEvaluation(el.teamspirit, el.clientmood, el.scrumdaily, el.scrumplanning, el.scrumretro);
          return {
            'projectname': el.projectname,
            'projectshortname': el.projectshortname,
            'color': getColor(idx),
            'active': false,
            'class': 'project color-' + getColor(idx),
            'teamspirit': el.teamspirit,
            'clientmood': el.clientmood,
            'scrumdaily': el.scrumdaily,
            'scrumplanning': el.scrumplanning,
            'scrumretro': el.scrumretro,
            'projectevaluation': evaluation
          };
        });
      }

      Polymer({
        is: 'hb-projects-board',
        onData: function (ev, data) {
          var VISIBLE_PROJECTS_COUNT = 9;
          var projectsList = getProjects(data.projectsList);
          var that = this;
          var projectStartIdx = 0;

          this.projects = projectsList.slice(projectStartIdx, projectStartIdx + VISIBLE_PROJECTS_COUNT);
          if (this.projects.length < VISIBLE_PROJECTS_COUNT) {
            that.projects = that.projects.concat(projectsList.slice(0, VISIBLE_PROJECTS_COUNT - that.projects.length));
          }
          that.projects[2].active = true;
          that.projectArtifacts = getProjectInfo(that.projects[2]);
          that.color = 'project-artifact color-' + that.projects[2].color;

          setInterval(function () {
            projectStartIdx += 1;
            if (projectStartIdx === projectsList.length) {
              projectStartIdx = 0;
            }

            that.projects = projectsList.slice(projectStartIdx, projectStartIdx + VISIBLE_PROJECTS_COUNT);
            if (that.projects.length < VISIBLE_PROJECTS_COUNT) {
              that.projects = that.projects.concat(projectsList.slice(0, VISIBLE_PROJECTS_COUNT - that.projects.length));
            }
            that.projects.forEach(function (el) {
              el.active = false;
            });
            that.projects[2].active = true;
            that.projectArtifacts = getProjectInfo(that.projects[2]);
            that.color = 'project-artifact color-' + that.projects[2].color;
          }, 2500);
        }
      });
    })();
  </script>
</dom-module>
